@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora", sans-serif;
  background-color: #fafaf9;
  line-height: 1.5;
}

.card {
  margin-block-start: 164px;
  margin-inline: auto;
  width: 368px;
  border-radius: 1rem;
  box-shadow: 0px 6px 16px 0px rgba(17, 23, 41, 0.1);
}

.card__inner {
  padding: 1rem 1rem 1.25rem;
}

.card__img {
  display: block;
  border-radius: 0.75rem;
  aspect-ratio: 2.21/1;
}

.card__tag {
  margin-block-start: 1rem;
  font-size: 0.625rem;
  color: #883ae1;
  background-color: #e6d6fc;
  border-radius: 9999px;
  padding-block: 6px;
  padding-inline: 1rem;
  font-weight: 600;
  width: fit-content;
  line-height: 1;
}

.card__title {
  font-size: 1.125rem;
  margin-block-start: 1rem;
  font-weight: 600;
  color: #20293a;
  line-height: 1.2;
}

.card__desc {
  margin-block-start: 6px;
  font-size: 0.875rem;
  font-weight: 300;
  color: #6c727f;
}

.card__author {
  padding: 1.25rem 1rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: #6c727f;
  border-top: 1px solid #e5eaf0;
}
